h1{
    color:black ;
    font-size: large ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#h1-top{
    font-style: normal;
    text-align: left;
    border: thin;
    /*margin-top: 100px, */
    /* margin-left: 100px;*/
    padding: 20px;
}

body{
    color:black;
    background-image:url(./white-color-background-gradient-abstract-modern_343694-2130.avif);
    background-size: cover ;
    background-position: center ;
    
    padding: 20px ;


}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    

}

.flex-container{
    display:flex;
    border: thin rgba(red, green, blue, alpha);
    grid: 100px;
    gap: 20px;

}
